<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694545203836-nfsqnvhoq46tgg5h9i2t0sjg8mretlf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694545203836-nfsqnvhoq46tgg5h9i2t0sjg8mretlf0</string>
	<key>API_KEY</key>
	<string>AIzaSyDhrKcknQ2vFFu_kK8e1OR2eN7lKTZRuHg</string>
	<key>GCM_SENDER_ID</key>
	<string>694545203836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faithpays.tcctoronto</string>
	<key>PROJECT_ID</key>
	<string>tcc-toronto</string>
	<key>STORAGE_BUCKET</key>
	<string>tcc-toronto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694545203836:ios:eb8f48a54ba6cf1350bff9</string>
</dict>
</plist>